# Eclipse
.README.md.html
.externalToolBuilders/
.settings/
.checkstyle
.project

# Puppet misc.
.tmp
.librarian
Puppetfile.done*
Puppetfile.lock*

# Vagrant
vagrant/.vagrant
vagrant/instance/
vagrant/master/
vagrant/*.vdi

# Environments directory
environments

# Modules
modules/alternatives
modules/apache
modules/apt
modules/catalog_diff
modules/concat
modules/concat_native
modules/firewall
modules/foreman
modules/git
modules/inifile
modules/ipa
modules/ntp
modules/passenger
modules/php
modules/phppgadmin
modules/postgresql
modules/puppet
modules/puppetdb
modules/puppetdbquery
modules/r10k
modules/resolv_conf
modules/ruby
modules/stdlib
modules/tftp
modules/timezone
modules/vcsrepo
modules/xinetd
